@import '../../styles/_all';

.header {
  align-items: center;
  color: $c-light-text;
  display: flex;
  justify-content: space-between;
  padding: $space-md + 20px ;
  width: 100%; 
  max-width: 1400px;

  &Title {
    font-size: 40px;
  }

  &Buttons {
    align-items: center;
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    //margin-left: auto;
    min-width: 100px;
  }

  &Link {
    font-size: 30px;
    text-decoration: none;
    margin-right: $space-sm;

    &:hover {
      text-decoration: underline;
    }
  }

  &Button {
    color: #516b1b ;//$c-light-text;
    font-size: 30px;
    padding: 8px 16px;
    
  }

  img {
    margin-bottom: 20px;
    width: 350px;
  }


  @media screen and (max-width: 1210px) {
    padding: $space-md $padding-lg;
    // color:red;
    flex-direction: column;
    .headerButtons {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 100px;
    }
    .header {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .headerLink {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    margin: 0 auto
  }

  @media screen and (min-width: $bp-desktop) {
    // max-width: 1024px;
    margin: 0 auto;
  }
}
