@import '../../styles/_all';



  .form {
  
    &SubmitDiv {
      text-align: center;
    }
  
    &Submit {
      background: $c-dark-text;
      color: $c-light-text;
      display: inline-flex;
      border: 1px solid $c-dark-text;
      border-radius: $radius-s;
      padding: $space-xs;
      height: 40px;
      width: 90px;
      text-align: center;
  
      &:hover {
        background: transparent;
        color: $c-dark-text;
        cursor: pointer;
      }
    }
  

  }

  .card {
      height: 500px;
  }