@import '../../styles/_all';

$base: #5BB9B8;
$subtle: #54a1a0;
$rain: #2C3845;
$poppy: #BD2A4E;
$mobile-small: 460px;
$mobile: 720px;


.card {
  background-color: #11465c;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 100px;

  p {
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    font-size:  30pt;
    margin-top: 0;
    margin-bottom: 0;
    color: darkgoldenrod;
  }

  p {
    font-size: 30pt;
    font-weight: bold;
    color: white;
  }

  td, th {
    padding: 8px;
    color: white;
    text-align: left;
  }
  
  
  tr{background-color: transparent}
  
  tr:hover {background-color: rgba(0, 0, 0, 0.5);}

  tr:hover {background-color: #11465c;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    color: darkgoldenrod;
    border-bottom: 3px solid darkgoldenrod;
  }
  table {
    margin-top: 10px;
    width: 100%;
  }

  


}




