@import '../../styles/_all';


.card {
  border: 6px solid #478bfb;
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
  margin-top: 20px;
  margin-bottom: 20px;


  p {
    font-size: 30pt;
    font-weight: bold;
  }

  h4 {
    font-size:  15pt;
  }

  .refaddress {
    
    font-size: 15pt;


    &Box {
      background-color: white;
      padding: 5px;
      align-items: center;
      border-radius: 10px;
      border: 6px solid gold;
      display: flex;
      justify-content: space-around;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      max-height: 70px;
    }
  }
}

.data {
  margin-bottom: 60px;
}

.copy {
  height: 40px;
  width: 40px;
  border: 3px solid gold;
  border-radius: 10px;
  background-color: white;

  &:hover {
    background-color: gold;
    color: white;
  }
}


@media screen and (max-width: 800px) {
  .refaddressBox {
    flex-direction: column;
    width: fit-content;
    padding: 0;
  }

  .refaddress {
    display: none;
  }
}

