@import '../../styles/all';

.layout {
  height: 100%;
  margin: auto;
  width: 100%;
  background-color: black;
  background-image: url('');
  
  background-position: center;

  background-attachment: "fixed";

  &Main {
    min-height: 85vh;
    //padding: $space-md $padding-sm;
  }
}
