@import '../../styles/_all';

.error {
  display: flex;
  flex-direction: column;
  color: $c-light-text;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1600px;
  width: 100%;
  align-items: center;

  &Heading {
    font-size: 30pt;
  }

  &Action {
    font-size: 20pt;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: $space-md $padding-lg;
  }
}
